<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title></title>
</head>
<body>

<div>
    <h2><%= @problem.name %></h2>
    <%= @problem.created_at %>
    <br><br>
    <div class="row">
      <div class="column left">
        <%= button_to problem_path(@problem), method: :delete, class: 'btn btn-danger mr-1' do %>
            <i class="fa fa-trash"> Delete Board</i>
          <% end %>
      </div>
      <div class="column middle">
          <%= button_to edit_problem_path(@problem), class: 'btn btn-primary mr-1' do %>
          <i class="fa fa-edit"></i>   Edit Board</button>
          <% end %>
      </div>
    </div>
    <br>
  <hr>
  <section>
    <% @problem.tasks.each do |task| %>
      <%= render 'tasks/task', task: task %>
    <% end %>
  </section>
</div>
</body>
</html>
